@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container-one{
    display: inline-grid;
    grid-template: repeat(16 ,1fr) / repeat(16 ,1fr);
    height: 100vh;
    width: 100%;

}

.pg{
    border: 1px solid;
    padding: 30px;
}

.db{
    height: 45px;
    vertical-align: middle;;
}

.db-p{
    padding-bottom: 25px;
}


.navimg-bk{
    filter: invert(1);
}

.navimg{
    height: 30px;
    vertical-align: middle;

}

.navbarul{
    text-align: left;
    list-style-type: none;
    font-size: 14px;
}

.liitem{
    padding: 5px;
}

#bottomNav{
    text-align: left;
    position: absolute;
    padding-top: 25px;

}

.navbar{
    grid-column: 1 / 4;
    grid-row: 1 / 17;
    background-color:#0ea5e9 ;
    color: white;
}


.search{
    grid-column: 4 / 17;
    grid-row: 1 / 2;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.search-icon{
    height: 30px;
    padding-top: 20px;
}

.search-box{
    background-color: #F0F9FF;
}


.magImg{
    vertical-align: middle;

}

input{
    width:80%;
    height: 100%;
    border: 1px solid;
    border-radius: 30px;

}


input,
input::placeholder {
    font: 18px 'Roboto', sans-serif;
    padding-left: 10px;
}

input , textarea{
    background-color: white;
}

.magImg{
    width: 25px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.searchbaricn{
    width: 20px;
    padding-left: 6vw;
}

.searchbaricn2{
    width: 20px;
    padding-left: vw;
    padding-left: 5px;
}




.account{
    grid-column: 4 / 17;
    grid-row: 2 / 3;
    display: flex;
    padding: 5px;
    padding-bottom: 10px;
}



.profilepic{
    width: 50px;
    border: 1px solid;
    border-radius: 30px;
    margin-left: 15px;
}

.profiletext{
    padding-left: 20px;
    padding-top: 9px;
}

.pone{
    font-size: 12px;
}

.profilebuttons{
    padding-left: 40VW;
    padding-top: 8px;
}

.profilebuttons > button{
    border:1px solid #0ea5e9;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0ea5e9;
    color: white;
    margin: 5px
}





.projects{
    grid-column: 4 / 14;
    grid-row: 3 / 16;
    background-color: #f0f9ff;
    padding: 15px;
    padding-left: 19px;
    overflow: auto;
}

.pb{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
    padding-top: 10px;
}

.projectitem{
    background-color: white;
    border: black;
    border-radius: 10px;
    color: black;
    padding:10px;
    box-shadow: 1px 1px  rgb(180, 180, 180);
    display: flex;

}

.pjcontent{
    font-size: 20px;
    text-align: left;
    font: 15px 'Roboto', sans-serif;
    padding-left: 10px
}

.pjcontent.sub{
    padding: 10px;
    padding-top: 5px;
    font: 15px sans-serif;
    color: rgb(65, 60, 60);
}

.invert{
    filter: invert(1);
}

.pjicn{
    width: 18px;
    padding: 2px;
}

.pjicons{
    display: flex;
    justify-content: right;
    padding-right: 5px;
}







.sidebar{
    grid-column: 14 / 17;
    grid-row: 3 / 10;
    overflow: auto;
    background-color:#F0F9FF ;

}

.announcements{
    padding: 10px;
    background-color:#F0F9FF ;
}

.sbitem{
    background-color:white ;
    border: black;
    border-radius: 10px;
    color: black;
    padding:10px;
    box-shadow: 1px 2px  rgb(180, 180, 180);
}

.padding{
    padding: 10px;
    background-color:#F0F9FF ;

}

.sb{
    padding: 10px;
    background-color:#F0F9FF ;

}




.trending{
    grid-column: 14 / 17;
    grid-row: 10 / 17;
    background-color: #F0F9FF;
    padding: 20px;
}

.trendingDp{
    width: 50px;
    border: 2px dotted black;
    border-radius: 30px;
}



.tendingaccs{
    padding-bottom: 10px;;
}

.alignTrending{
    display: flex;
    padding-bottom: 10px;

}

.username{
    padding-top: 15px;
    padding-left: 10px;
}

.footer{
    grid-column: 4 / 14;
    grid-row: 16 / 17;
    background-color: #F0F9FF;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.footer a{
    text-decoration: none;
}

.accent{
    background-color: orange;
    width: 20px;
}